.hrsidebar-divider10,
.hrsidebar-divider11,
.hrsidebar-divider9 {
  position: absolute;
  top: 70px;
  left: 16px;
  border-top: 0.8px solid var(--color-gray-100);
  box-sizing: border-box;
  width: 192px;
  height: 1px;
}
.hrsidebar-divider10,
.hrsidebar-divider11 {
  top: 126.8px;
}
.hrsidebar-divider11 {
  top: 230px;
}
.div20 {
  position: absolute;
  top: 10.8px;
  left: 15.2px;
  line-height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 8.2px;
  height: 16.8px;
}
.buttonsidebartoggle3 {
  position: absolute;
  top: 250px;
  left: calc(50% - 20px);
  border-radius: var(--br-xl);
  background-color: var(--color-gray-200);
  width: 40px;
  height: 40px;
  font-size: var(--font-size-base);
  color: var(--color-gray-500);
}
.dashboard3,
.div21 {
  position: absolute;
  display: flex;
  align-items: center;
}
.div21 {
  top: 20.8px;
  left: 16.9px;
  line-height: 13.6px;
  justify-content: center;
  width: 15.5px;
  height: 13.6px;
}
.dashboard3 {
  top: 19.2px;
  left: 41.1px;
  line-height: 20.4px;
  font-family: var(--font-nunito);
  color: var(--color-gray-400);
  text-align: left;
  width: 75.1px;
  height: 18.4px;
}
.anav-link9 {
  position: absolute;
  top: 70.8px;
  left: 0;
  width: 224px;
  height: 56px;
}
.div22 {
  top: 20.8px;
  left: 17.7px;
  line-height: 13.6px;
  justify-content: center;
  width: 13.8px;
  height: 13.6px;
}
.div22,
.div23,
.master-data3 {
  position: absolute;
  display: flex;
  align-items: center;
}
.master-data3 {
  top: 19.2px;
  left: 41.3px;
  line-height: 20.4px;
  font-family: var(--font-nunito);
  color: var(--color-gray-400);
  text-align: left;
  width: 69.4px;
  height: 18.4px;
}
.div23 {
  top: 16px;
  left: 192px;
  font-size: var(--font-size-base);
  line-height: 24px;
  color: var(--color-gray-500);
  justify-content: center;
  width: 16.2px;
  height: 24px;
}
.anav-link10 {
  position: relative;
  width: 224px;
  height: 56px;
}
.brand3 {
  position: relative;
  line-height: 20.4px;
}
.divbg-white1 {
  border-radius: var(--br-7xs-6);
  background-color: var(--color-white);
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 14.799999237060547px var(--padding-75xl) 16.599990844726562px
    var(--padding-5xl);
  gap: var(--gap-base-4);
  text-align: left;
  color: var(--color-darkslategray);
  font-family: var(--font-nunito);
}
.administrasi3,
.linav-item1 {
  position: absolute;
  display: flex;
  align-items: center;
}
.linav-item1 {
  top: 143.6px;
  left: 0;
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-0) var(--padding-0) var(--padding-base);
  color: var(--color-gray-300);
}
.administrasi3 {
  top: 19.2px;
  left: 41.1px;
  line-height: 20.4px;
  font-family: var(--font-nunito);
  color: var(--color-gray-400);
  text-align: left;
  width: 76.6px;
  height: 18.4px;
}
.anav-link11 {
  position: absolute;
  top: 180px;
  left: 0;
  width: 224px;
  height: 56px;
  color: var(--color-gray-300);
}
.bukit-tjahaya3 {
  position: absolute;
  top: 23px;
  left: 72px;
  letter-spacing: 0.8px;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: 800;
}
.frame-div {
  position: absolute;
  top: -14px;
  left: 130px;
  width: 100px;
  height: 100px;
  overflow: hidden;
}
.asidebar-brand-child1 {
  position: absolute;
  top: 22px;
  left: 16px;
  width: 45px;
  height: 26.2px;
  object-fit: cover;
}
.asidebar-brand3,
.ulaccordionsidebar3 {
  position: absolute;
  top: 0;
  left: 0;
  width: 224px;
}
.asidebar-brand3 {
  height: 70px;
  font-size: var(--font-size-base);
  font-family: var(--font-nunito);
}
.ulaccordionsidebar3 {
  background-color: var(--color-orangered);
  height: 651.2px;
}
.divtopbar-divider3 {
  position: absolute;
  top: calc(50% - 19px);
  left: 16px;
  border-right: 0.8px solid var(--color-lavender-100);
  box-sizing: border-box;
  width: 1px;
  height: 38px;
}
.undraw-profilesvg-icon3 {
  position: relative;
  border-radius: var(--br-base);
  width: 32px;
  height: 32px;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.auserdropdown3 {
  position: absolute;
  top: 0;
  left: 32.8px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-lgi) var(--padding-xs);
  gap: var(--gap-5xs-6);
}
.ulnavbar-nav3 {
  position: relative;
  width: 229.4px;
  height: 70px;
}
.navnavbar3 {
  background-color: var(--color-white);
  box-shadow: 0 2.4px 28px rgba(58, 59, 69, 0.15);
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-0) 16.000030517578125px var(--padding-0)
    1066.5999755859375px;
}
.produk4 {
  position: absolute;
  top: -0.4px;
  left: 24px;
  line-height: 33.6px;
}
.list-data-produk {
  position: relative;
  line-height: 19.2px;
}
.abtn5 {
  border-radius: var(--br-7xs-6);
  background-color: var(--color-royalblue);
  border: 1px solid var(--color-royalblue);
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 6.599999904632568px 11.850001335144043px 6.999998569488525px
    12.800000190734863px;
  text-align: center;
  color: var(--color-white);
}
.divd-flex3,
.search4 {
  display: flex;
  align-items: center;
}
.divd-flex3 {
  flex-shrink: 0;
  flex-direction: row;
  justify-content: flex-start;
  gap: 7.38px;
}
.search4 {
  position: absolute;
  top: 0;
  left: 0;
  width: 178.6px;
  height: 21.6px;
}
.pseudo12 {
  position: relative;
  width: 178.4px;
  height: 21.6px;
  overflow: hidden;
  flex-shrink: 0;
}
.buttonbtn6,
.search3 {
  border-radius: var(--br-7xs-6);
  flex-shrink: 0;
  align-items: flex-start;
}
.search3 {
  background-color: var(--color-white);
  border: 1px solid var(--color-lavender-300);
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: 7.400000095367432px 27.20001220703125px 7.400001049041748px
    var(--padding-xs);
}
.buttonbtn6 {
  border: 1px solid var(--color-mediumseagreen);
  padding: 6.599999904632568px 12.759997367858887px 6.999998569488525px
    12.800000190734863px;
  text-align: center;
  color: var(--color-mediumseagreen);
}
.buttonbtn6,
.divcard-header3,
.formform-inline1,
.thh2d-1c50e3eb1 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.formform-inline1 {
  flex-shrink: 0;
  align-items: center;
  padding: 0.20000000298023224px 0.0000152587890625px 0.200001522898674px
    0.800000011920929px;
  gap: var(--gap-4xs-8);
  color: var(--color-lightslategray);
}
.divcard-header3,
.thh2d-1c50e3eb1 {
  align-items: flex-start;
}
.divcard-header3 {
  border-radius: var(--br-8xs-6) var(--br-8xs-6) 0 0;
  background-color: var(--color-ghostwhite);
  border-bottom: 0.8px solid var(--color-lavender-100);
  flex-shrink: 0;
  padding: 16.200000762939453px var(--padding-xl) 16.800003051757812px;
  gap: 630.61px;
}
.thh2d-1c50e3eb1 {
  position: absolute;
  left: 0;
  border-top: 0.8px solid var(--color-lavender-100);
  padding: 12.199999809265137px 73.470001220703var (--padding-xs)
    13.000000953674316px 12px;
}
.thh2d-1c50e3eb1,
.thh2d-46e464651,
.thh2d-755d246b1 {
  bottom: 140.8px;
  border-bottom: 1.6px solid var(--color-lavender-100);
}
.thh2d-46e464651 {
  position: absolute;
  left: 95.5px;
  border-top: 0.8px solid var(--color-lavender-100);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 12.199999809265137px var(--padding-291xl) 13.000000953674316px
    var(--padding-xs);
}
.thh2d-755d246b1 {
  left: 461.5px;
  padding: 12.199999809265137px 182.54998779296875px 13.000000953674316px
    var(--padding-xs);
}
.thh2d-63d4559c1,
.thh2d-755d246b1,
.thh2d-d9e335841 {
  position: absolute;
  border-top: 0.8px solid var(--color-lavender-100);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.thh2d-d9e335841 {
  bottom: 140.8px;
  left: 726px;
  border-bottom: 1.6px solid var(--color-lavender-100);
  padding: 12.199999809265137px 403.3800048828125px 13.000000953674316px
    var(--padding-xs);
}
.thh2d-63d4559c1 {
  top: 49.6px;
  left: 0;
  padding: 12.600000381469727px 73.470001220703var (--padding-xs)
    26.19999885559082px 12px;
}
.seng {
  position: relative;
  line-height: 24px;
}
.tdh2d-6f660c791,
.tdh2d-7a1c84471 {
  position: absolute;
  top: 49.6px;
  left: 95.5px;
  border-top: 0.8px solid var(--color-lavender-100);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 12.600000381469727px var(--padding-230xl) 26.19999885559082px
    var(--padding-xs);
}
.tdh2d-6f660c791 {
  left: 461.5px;
  padding: 12.600000381469727px 190.54998779296875px 26.19999885559082px
    var(--padding-xs);
}
.abtn6 {
  border-radius: var(--br-7xs-6);
  background-color: var(--color-mediumseagreen);
  border: 1px solid var(--color-mediumseagreen);
  padding: 6.599999904632568px 12.70999813079834px 6.999998569488525px
    12.800000190734863px;
}
.abtn6,
.buttonbtn7,
.divd-flex4 {
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.buttonbtn7 {
  border-radius: var(--br-7xs-6);
  background-color: var(--color-tomato);
  border: 1px solid var(--color-tomato);
  padding: 6.599999904632568px 12.460001945495605px 6.999998569488525px
    12.800000190734863px;
}
.divd-flex4 {
  padding: var(--padding-0) 290.6100158691406px var(--padding-0)
    var(--padding-0);
  gap: var(--gap-5xs);
}
.tdh2d-357c0d221,
.tdh2d-709c22bc1,
.tdh2d-96c882511,
.tdh2d-bde12bf01,
.thh2d-a06044bd1 {
  position: absolute;
  border-top: 0.8px solid var(--color-lavender-100);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.tdh2d-96c882511 {
  top: 49.6px;
  left: 726px;
  padding: 12.800000190734863px var(--padding-xs) 12.40000057220459px;
  text-align: center;
  color: var(--color-white);
}
.tdh2d-357c0d221,
.tdh2d-709c22bc1,
.tdh2d-bde12bf01,
.thh2d-a06044bd1 {
  top: 112.4px;
}
.thh2d-a06044bd1 {
  left: 0;
  padding: 12.199999809265137px 73.470001220703var (--padding-xs)
    25.799999237060547px 12px;
}
.tdh2d-357c0d221,
.tdh2d-709c22bc1,
.tdh2d-bde12bf01 {
  left: 95.5px;
  padding: 12.199999809265137px var(--padding-270xl) 25.799999237060547px
    var(--padding-xs);
}
.tdh2d-357c0d221,
.tdh2d-bde12bf01 {
  left: 461.5px;
  padding: 12.199999809265137px 216.54998779296875px 25.799999237060547px
    var(--padding-xs);
}
.tdh2d-bde12bf01 {
  left: 726px;
  padding: 12.399999618530273px var(--padding-xs) 12.000001907348633px;
  text-align: center;
  color: var(--color-white);
}
.divtable-responsive1 {
  position: relative;
  width: 1174.4px;
  height:700px;
  overflow: hidden;
  flex-shrink: 0;
  color: var(--color-lightslategray);
}
.divcard4 {
  position: absolute;
  top: 57.6px;
  left: 48px;
  border-radius: var(--br-7xs-6);
  background-color: var(--color-white);
  box-shadow: 0 2.4px 28px rgba(58, 59, 69, 0.15);
  border: 1px solid var(--color-lavender-100);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 0.800000011920929px 0.799975574016571px 20.79999542236328px
    0.800000011920929px;
  gap: var(--gap-lgi-8);
  font-size: var(--font-size-base);
  color: var(--color-royalblue);
}
.divcontainer-fluid3 {
  position: relative;
  width: 1312px;
  height: 800px;
  font-size: var(--font-size-9xl);
  color: var(--color-dimgray);
}
.divcontent3 {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-0) var(--padding-0) 120.00003051757812px;
  gap: var(--gap-5xl);
}
.copyright-bukit3 {
  position: relative;
  line-height: 12.8px;
}
.footersticky-footer3 {
  position: absolute;
  top: 574.4px;
  left: 0;
  background-color: var(--color-white);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 31.600000381469727px 569.260009765625px 32.20000457763672px
    569.739990234375px;
  text-align: center;
}
.divcontent-wrapper3 {
  position: absolute;
  width: calc(100% - 224px);
  top: 0;
  right: 0;
  left: 224px;
  background-color: var(--color-ghostwhite);
  height: 651.2px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-smi-8);
  color: var(--color-lightslategray);
  font-family: var(--font-nunito);
}
.tabel-produk {
  position: relative;
  width: 100%;
  height: 651.2px;
  text-align: center;
  font-size: var(--font-size-sm-6);
  color: var(--color-white);
  font-family: var(--font-font-awesome-5-free);
}
